
scripts/book_quotes_results.json
scripts/internetArchive_API_test.py
scripts/missing_times.txt
scripts/missing_timesold.txt
scripts/results/01-03_Erik Van Achter.png
scripts/results/01-03_Erik Van Achter.txt
scripts/results/01-03_Kate Sheeran Swed.png
scripts/results/01-03_Kate Sheeran Swed.txt
scripts/results/01-03_R. A. Salvatore.png
scripts/results/01-03_R. A. Salvatore.txt
scripts/results/01-03_Russell Smith.png
scripts/results/01-03_Russell Smith.txt
scripts/results/book_quotes_results_extended.json
scripts/search_queries.json
