
scripts/book_quotes_results.json
scripts/internetArchive_API_test.py
scripts/search_queries.json
*.png
*.txt
scripts/results/old/book_quotes_results_extended_old.json
scripts/results/old/book_quotes_results_extended_first.json
scripts/results/book_quotes_results_extended_1am_Complete.json
scripts/book_quotes_results_cleaned_old.json
scripts/results/book_quotes_results_extended_useable.json
